$white: #fff;
$black: #000;
$primary-color: #2a70b8;
$text-color: #444;
$bg-color: #f5f8fa;
$outline-color: #e1e1e1;

$container-max-widths: (
    xl: 1024px,
);

$theme-colors: (
    "primary": $primary-color,
);
